body {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/077/480/original/pexels-monstera-7412073.jpg?1681697039");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
}

h2 {
    margin: 0 0 5px;
    font-size: 28px;
}

select {
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 10px;
}

.city {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.7;
}

.time {
font-size: 48px;
font-weight: bold;
}

.time small {
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}

footer {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
}

a {
    outline: none;
}

a:link {
    color: #a266f5;
}

a:visited {
    color: #07b0d2;
}

a:focus {
    text-decoration: none;
    background: #bae498;
}

a:hover {
    text-decoration: none;
    background: #cdfeaa;
}

a:active {
    background: #a266f5;
    color: #cdfeaa;
}